<div class="container-fluid">
	<div class="row" id="home">
		<div class="home-pic section">
			<div class="home-page-text">
				<h1> Full Stack Web Developer </h1>
				<h4> Freelance web developer &amp; designer with a flair for entrepreneurship, business and sales strategy. </h4>
			</div><!--/home-page-text-->
		</div><!--/home-pic-->
	</div><!--/row-->
	<div class="row" id="about-me">
		<div class="about-me header section">
				<h1> About Me </h1>
				<div class="col-md-6 about-me-image">
				  <%= image_tag("DEGprofile.png", class: "me-pic") %>
				</div><!--/about-me-image-->
				<div class="col-md-6 about-me-text">
					<h3> What I do/build: </h3>
					<h4> 
					I'm a freelance full-stack web developer with a background in business, sales and entrepreneurship, which leads me to look and build sites from a strategic perspective.  In other words, how can we get you results. 
					</h4>
					<h3> What I enjoy building: </h3>
					<h4>
					I love the creativity and hunger that comes from working with start-ups, small &amp; medium sized businesses, especially those that are solving a unique problem, are tackling a cause and/or have audacious goals.
					</h4>
					<h3> Some of my outlooks: </h3>
					<h4>
					Be good to people. Always push beyond your comfort zones.     
					 </h4>
				</div><!--about-me-text-->
		</div><!--/about-me-->
	</div><!--/row-->
	<div class="row" id="specialty">
		<div class="specialty-1 header section">
			<h1> Skills </h1>
				<div class="col-md-4 special">
					<h2> Back-end </h2>
						<ul>
						  <li> Ruby on Rails </li>
						  <li> MySQL </li>
						  <li> PostgreSQL </li>
						</ul>
				</div><!--/col-md-4-->
				<div class="col-md-4 special">
					<h2> Front-end </h2>
					  <ul>
					  	<li> HTML </li>
					  	<li> CSS </li>
					  	<li> Bootstrap </li>
					  	<li> Javascript </li>
					  	<li> JQuery </li>
					  </ul>
				</div><!--/col-md-4-->
				<div class="col-md-4 special">
					<h2> Web Traffic </h2>
					  <ul>
					  	<li> Search Engine Optimization (SEO) </li>
					  	<li> Google Adwords </li>
					  	<li> Google Analytics </li>
					  </ul>
				</div><!--/col-md-4-->
		</div><!--/.specialty-1-->
	</div><!--#specialty-->
	<div class="row" id="sample-work">
		<div class="sample-work header section">
		  <h1> Sample Work </h1>
		    <div class="col-md-12">
		        <div class="well">
		            <div id="myCarousel" class="carousel slide">      
		                <!-- Carousel items -->
		                <div class="carousel-inner">
		                    <div class="item active">
		                        <div class="row">
		                            <div class="col-sm-3"><a href="https://www.breezestreet.com/" class="thumbnail" target="_blank"><%= image_tag("brz-screen.png", class: "thumb-pic img-responsive", alt: "Breeze Street Inc Webpage Image") %></a>
		                            	<div class="thumb-desc">
			                            	<h3> Breeze Street Inc.</h3>
			                            	<h5> Online Real Estate Platform</h5>
			                            	<h5> Full Website Design & Development</h5>
		                            	</div>         
		                            </div>
		                            <div class="col-sm-3"><a href="#x" class="thumbnail"><%= image_tag("tiko.png", class: "thumb-pic img-responsive", alt: "Breeze Street Inc Webpage Image") %></a>
		                            	<div class="thumb-desc">
			                            	<h3> Tiko 3D</h3>
			                            	<h5> 3D Printer Producers</h5>
			                            	<h5> Countdown Launch Page Web Development</h5><br>
		                            	</div>
		                            </div>
		                            <div class="col-sm-3"><a href="#x" class="thumbnail"><%= image_tag("chapatihouse.png", class: "thumb-pic img-responsive", alt: "Breeze Street Inc Webpage Image") %></a>
		                            	<div class="thumb-desc">
			                            	<h3> Chapati House </h3>
			                            	<h5> Artisan Food Producers</h5>
			                            	<h5> Launch Page Web Design & Development</h5><br>
		                            	</div>
		                            </div>
		                            <div class="col-sm-3"><a href="#x" class="thumbnail"><%= image_tag("hr-gazette.png", class: "thumb-pic img-responsive", alt: "Breeze Street Inc Webpage Image") %></a>
		                            	<div class="thumb-desc">
			                            	<h3> HR Gazette</h3>
			                            	<h5> News platform for HR professionals</h5>
			                            	<h5> SEO & Web Analytics Enhancement</h5><br>
		                            	</div>
		                            </div>
		                        </div><!--/row-->
		                    </div><!--/item-->
		                </div><!--/carousel-inner-->
		                    <!--
		                    <div class="item">
		                        <div class="row">
		                            <div class="col-sm-3"><a href="#x" class="thumbnail"><%= image_tag("brz-screen.png", class: "img-responsive", alt: "Breeze Street Inc Webpage Image") %></a>
		                            </div>
		                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
		                            </div>
		                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
		                            </div>
		                            <div class="col-sm-3"><a href="#x" class="thumbnail"><img src="http://placehold.it/250x250" alt="Image" class="img-responsive"></a>
		                            </div>
		                        </div>
		                    </div>
		                <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>

		                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
		            </div>-->
		        </div><!--/well-->
		    </div><!--/col-md-12-->
		</div><!--/sample-work-->
	</div><!--/row-->	

	<div class="row" id="contact">
		<div class="contact-us header section">		  
				<h1> Contact Me </h1>
				  <div class="col-md-12">
				  	<h2> David Green </h2>
				  	<h3> Email: David@devslove.com </h3>
				  </div>
		</div><!--/contact-us-->
	</div><!--/row-->
</div><!--/container-fluid-->
